@font-face {
    font-family: suisseintl-medium;
    src: url('/assets/fonts/SuisseIntl-Medium.ttf');

}

@font-face {
    font-family: suisseintl-bold;
    src: url('/assets/fonts/SuisseIntl-Bold.ttf');

}

@font-face {
    font-family: suisseintl-regular;
    src: url('/assets/fonts/SuisseIntl-Regular.ttf');

}

* {
    font-family: suisseintl-regular;

}

.discount p {
    color: white;
    font-family: suisseintl-regular;
    font-size: 15px;
    margin: 0;

}

a {
    text-decoration: none;
    color: black;
}

.btn-secondary {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


.dropbtn {
    background: none;
    border: none;

}

.dropdown {
    position: relative;
    display: inline-block;
    /* transition: all 0.4s ease-in-out ; */
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.4s ease-in-out;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* transition: all 0.4s ease-in-out;   */
}


.dropdown-content a:hover {
    color: #ff0055;
}


.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown-menu {
    padding: 20px 15px 0px !important;
}

.dropdown-menu a {
    padding: 0;
}

.dropdown-menu .num:hover {
    text-decoration-color: white !important;
}

.dropdown-menu .num {
    text-decoration: underline !important;
    text-underline-offset: 3px;
    transition: all 0.4s ease-in-out;
}

dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent !important;
}

.services .dropdown-icon {
    position: relative;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.dropdown-menu {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
    transition: all 0.4s ease-in-out !important;
}

.about:hover {
    color: black !important
}

.services:hover .dropdown-menu {
    display: block;
}

.dropdown li {
    list-style: none;
}

/* Search input
 start */
.form {
    width: 370px;
    padding: 13px 15px;
    border: 1px solid #DCE1E9;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
    outline: 1px solid transparent;
}

.form:focus {
    border-color: #FF0080;
}

.searchdiv {
    position: relative;
    width: fit-content;
}

.searchbtn {
    background-image: url('/assets/images/searchHover.png');
    background-size: contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    right: 15px;
    transition: all 0.3s ease-in-out;
}

.form:focus~.searchbtn {
    background-image: url('/assets/images/searchBlack.png');

}

/* end */


.services:hover .dropdown-icon {
    transform: rotate(180deg);
}

.whatsapp-icon {
    background-image: url('/assets/images/whatsapp2.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    transition: 0.4s ease-in-out all;
}

.whatsapp-icon:hover {
    background-image: url('/assets/images/whatsappHover.png');
}

.viber-icon {
    background-image: url('/assets/images/viber.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    transition: 0.4s ease-in-out all
}

.viber-icon:hover {
    background-image: url('/assets/images/viberHover.png');
}


.user-icon {
    background-image: url('/assets/images/user.png');
    width: 28px;
    height: 28px;
    background-size: cover;
}

.favorite-icon {
    background-image: url('/assets/images/favorite.png');
    width: 28px;
    height: 28px;
    background-size: cover;
}

.bag-icon {
    background-image: url('/assets/images/bag.png');
    width: 28px;
    height: 28px;
    background-size: cover;
}

.cart-with-badge {
    position: relative;
    margin-right: 10px;
}

.badge {
    background-color: #ff0055;
    position: absolute;
    border-radius: 50%;
    top: -1px;
    right: -5px;
    font-size: 10px;
}

.bag-prc {
    transition: all 0.3s ease-in-out;
}

.bag-prc:hover {
    background-color: #F1F4F9;
    border-radius: 20px;
    padding: 2px 11px;

}

.about-parfum {
    position: relative;
}

.about-parfum:hover,
.about-parfum.active {
    color: black;
}

.about-parfum::before {
    content: "";
    position: absolute;
    justify-content: center;
    bottom: -26px;
    left: 50px;
    transform: translateX(-31%);
    width: 0;
    height: 5px;
    background-color: #00FFFF;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.about-parfum:hover::before {
    visibility: visible;
    width: 60%;

}


/* Body 
start */

.hot-offers {
    background-color: #FF0080;
    width: fit-content;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: rotate(-90deg);
    position: fixed;
    transform-origin: top right;
    top: 30%;
    right: 53px;
    cursor: pointer;

}

.offers-title {
    padding: 16px 32px 16px 10px;
}

.offers-title img {
    width: 35px;
    height: 35px;
    transform: rotate(90deg);
    object-fit: cover;
    margin: -5px 10px 0px 0px;
    /* margin-bottom: 15px; */
}

.offers-title p {
    color: white;
    font-family: suisseintl-bold;
}

.banner {
    background-image: url('/assets/images/bannner.svg');
    background-size: cover;
    height: 504px;
    padding: 0 70PX;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 25px;

}

.banner p {
    font-size: 30px;
    font-family: suisseintl-bold;
    max-width: 374px;
}

.wholesale {
    font-size: 30px;
    font-family: suisseintl-bold;
    background-color: #fefefe;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
}

.banner button {
    display: flex;
    width: fit-content;
    border: none;
    height: 54px;
    outline: transparent !important;
    border-radius: 100px;
    padding: 15px 30px;
    background-color: #00FFFF;
    transition: all 0.4s ease-in-out;
    justify-content: center;
}

.banner button a:hover {
    color: black;
}

.banner button:hover {
    background-color: #00EDED;
}

.cards img {
    width: 280px !important;
    height: 270px;
}

.sales-header p {
    font-size: 30px;
    font-family: suisseintl-bold;
    margin: 0;
}

.sales-arrow {
    width: fit-content !important;
}

.sales-arrow img {
    width: 50px;
    height: 50px;
}

.custom-slide {
    /* width: 270px !important; */
    margin-right: 40px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.custom-slide img {
    width: 100%;
    object-fit: cover;
}

.custom-slide p {
    margin-bottom: 9px;
}

.custom-slide .product-title {
    font-size: 15px;
    font-family: suisseintl-bold;
    transition: all 0.3s ease-in-out;
}

.custom-slide:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.100);
    transform: scale(1.00);
    z-index: 999;
}

.custom-slide .productimage {
    height: 284px;
    width: 284px;
}

.custom-slide .product-title:hover {
    color: #FF0080;
}

.custom-slide .product-descript {
    font-size: 12px;
    color: #676767;
}

.custom-slide .product-btn {
    border: none;
    padding: 10px 27.5px;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-size: 15px;
    margin-bottom: 7px;
}

.custom-slide .stick-sale {
    padding: 7px 14px 5px 14px;
    color: white;
    background-color: #FF0080;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: fit-content;
    font-size: 13px;
    position: absolute;
    top: 15px;
    left: 0px;
}

.custom-slide .stick-new {
    padding: 7px 14px 5px 14px;
    color: white;
    background-color: black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: fit-content;
    font-size: 13px;
    position: absolute;
    top: 55px;
    left: 0px;
}

.stick-favorite {
    position: absolute;
    top: 17px;
    right: 15px;
}

.stick-view-btn {
    border: none;
    padding: 10px;
    color: black;
    background-color: #00FFFF;
    border-radius: 5px;
    width: fit-content;
    font-size: 13px;
    position: absolute;
    top: 140px;
    left: 74px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}


.description {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}



.custom-slide:hover .stick-view-btn,
.custom-slide:hover .description,
.stick-view-btn:hover,
.description:hover {
    opacity: 1;
    visibility: visible;
}



.btn-center {
    margin: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-center button {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 100px;
    padding: 15px 34px;
    transition: all 0.3s ease-in-out;
}

.btn-center button:hover {
    background-color: black;
    color: #fefefe;

}


/* Получите подарок  */

/* start */



.form {
    max-width: 370px;
}

.form label {
    font-size: 16px;
    color: black;
    margin: 20px 0px 9px 0px;
    outline: none;
}


form input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 12px 0px 11px 15px;
    width: 100%;

}

.messangers-trig {

    transition: all 0.4s ease-in-out;
}

.custom-trigger {
    padding: 12px 15px 11px 15px;
    width: 100%;
    background-color: #FEFEFE;
    border-radius: 5px;
    cursor: pointer;
    color: #676767;
    transition: all 0.4s ease-in-out;
}

.messangers-trig img {
    object-fit: cover;
    width: 20px;
    height: 20px;

}

.optiions {
    position: relative;
}

.custom-options {
    width: 338px;
    margin-bottom: 20px;
    background-color: #FEFEFE;
    cursor: pointer;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    display: block;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.3s ease;
    z-index: 1000;


}

.custom-options.show {
    transition: all 0.4s ease-in-out;
    opacity: 1;
    transform: translateY(0);
    display: block;

}

.custom-option {
    color: #676767;
    padding: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 999;
    overflow-x: hidden;
}

.custom-trigger img.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.custom-option img {
    margin-right: 10px;
}


.custom-option .customimage:hover {
    transform: rotate(15deg);
    transition: all 0.4s ease-in-out;
}


.custom-option:hover {
    color: black;
}

.checkbox label span a{
    text-decoration: underline black;
    text-underline-offset: 2px;
    transition: all 0.3s ease-in-out;
}

.checkbox label span a:hover{
    color: black;
    text-decoration: underline transparent;
}

.checkbox input{
    display: none;

}
.checkbox label{
    color: black;
    position: relative;
    font-size: 13px;
    padding-left:36px;
}

.checkbox label::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 1px solid #9EA8BA ;
    border-radius: 3px;
    background-color: white;
    /* transition: 0.3s ; */

}
.checkbox input:checked + label::before {
    background-image: url('/assets/images/checkbox.svg');
    background-size: 14px 18px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
    
/* end */

  
/* Наливная парфюмерия 
start */

.content-parfum a{
    width: fit-content;
}

.parfum-descript{
    font-size: 20px;
    font-family: suisseintl-bold;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    width: fit-content;
}


.second-imgwrap{
    overflow: hidden;
    width: fit-content;
    width: 270px;
    height: 270px;
    
}

.right-sec{

    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
    /* gap: calc(20px 0); */
}

.card-wrap {
    width: 270px !important;

}
.card-wrap a {
    width: 270px !important;
}

.second-imgwrap{
    width: 270px;
    height: 270px;
    border-radius: 5px;
}



.second-imgwrap a img{
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    height: 270px;
}

.second-imgwrap:hover a img {
    transform: scale(1.1);
    border-radius: 5px;
}

.imgwrap{
    overflow: hidden;
    display: inline-block;
    width: 573px;
    height: 673px;
}

.imgwrap a img{
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
    height: 670px;
}

.imgwrap:hover a img {
    transform: scale(1.1);
}

.parfum-descript:hover{
    color: #FF0080;
}


.imgwrap-thr{
    overflow: hidden;
    display: inline-block;
    width: 370px;
    height: 270px;
}

.imgwrap-thr a img{
    transition: all 0.4s ease-in-out;
    
    border-radius: 5px;
}

.imgwrap-thr:hover a img{
    transform: scale(1.1);
    border-radius: 5px;
}

.lastdiv{
    width: 370px;
    justify-content: flex-end;

}

.parfumarrow img{
    margin-left: 4px;
    width: 35px;
    height: 35px;
    transition: all 0.3s ease-in-out;
}

.parfumarrow:hover{
    color: black;
}

.parfumarrow:hover img{
    color: black;
    transform: translateX(8px);
}

/* end */

/* count-section */

/* start */

.count-section{
    max-width: 970px;
    margin-top: 100px ;
}

.count-number{
justify-content: center;
align-items: center;
}
.count-number p{
    width: fit-content;
}

.count-section .number{
    font-family: suisseintl-bold;
    font-size: 40px;
    width: fit-content;  
}
/* end */

/* Map section */


/* start */

.map{
    height: 408px;
    background-color: #F1F4F9;
    display: flex !important;
    justify-content: center;
    padding: 0 70px;
    color: black;
    border-radius: 5px;
}

.map-section{
    justify-content: center;

}

.map-section p{
    font-size: 30px;
    font-family: suisseintl-bold;
}
.map-contacts{
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}

.map-contacts :first-child{
    margin-bottom: 10px !important;
}

.map-contacts a:hover{
    color: black;
}

 .map-contacts a{
position: relative;
text-decoration:none;
font-family: suisseintl-medium;
transition: color 0.2s ease-in-out;
width: fit-content;
 } 

 .map-contacts a::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 100%;
    height: 1.5px;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;  
 }

 .map-contacts a:hover::after {
    width: 0;
}

.map-img{
    display:flex;
    justify-content: center;
}

.map_btn{
    margin-top: 40px;
    width: 188px;
    background-color: #00FFFF;
    color: black;
    border-radius: 100px;
    border: none;
    padding: 15px 10px;
    transition: all 0.4s ease-in-out;
}

.map_btn:hover{
    background-color: #00EDED;
}

/* end */


/* Этапы работы  */
/* star */

.stage p{
    font-size: 30px;
    font-family: suisseintl-bold;
    margin-bottom: 50px;
}

.work-stages{
    align-items: center;
    justify-content: center;
    
}



.stages-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DCE1E9;
    border-radius: 5px;
    width: 370px;
    height: 270px;
}

.stages-card .stage-stick{
    position: absolute;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    bottom: 70%;
    left: 35%;
    background-color: #00FFFF;
    padding: 4px 12px;
}

.stages-card p{
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 0;
}

.stages-card img{


}

/* end */


/* end */


/* Footer 
start */

footer {
    background-color: black;
    padding-top: 67px;

}

.footer-content {
    max-width: 350px;
    color: white;
}

.footer-catalog p {
    font-size: 13px;
}

.footer-content .footer-title {
    font-family: suisseintl-bold;
    font-size: 16px;
}

.footer-content a {
    color: #fefefe;
    font-size: 13px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;

}

.footer-content a:hover {
    color: #00FFFF;
}

.footer-contact-ic {
    max-width: 202px;
}

.footer-ic {
    opacity: 1 !important;
}

.vk {
    background-image: url('/assets/images/vk_icon.svg');
    width: 33px;
    height: 33px;
    transition: all 0.2s ease-in-out;
}

.youtube {
    background-image: url('/assets/images/youtube_icon.svg');
    width: 33px;
    height: 33px;
    transition: all 0.2s ease-in-out;
}

.telegram {
    background-image: url('/assets/images/tg_icon.svg');
    width: 33px;
    height: 33px;
    transition: all 0.2s ease-in-out;
}

.whatsapp {
    background-image: url('/assets/images/whatsapp_icon.svg');
    width: 33px;
    height: 33px;
    transition: all 0.2s ease-in-out;
}

.viber {
    background-image: url('/assets/images/viber_icon.svg');
    width: 33px;
    height: 33px;
    transition: all 0.2s ease-in-out;
}

.vk:hover {
    background-image: url('/assets/images/vkHover.svg');
    width: 33px;
    height: 33px;
}

.youtube:hover {
    background-image: url('/assets/images/youtubeHover.svg');
    width: 33px;
    height: 33px;
}

.telegram:hover {
    background-image: url('/assets/images/tgHover.svg');
    width: 33px;
    height: 33px;
}

.whatsapp:hover {
    background-image: url('/assets/images/whatsappHover.png');
    width: 33px;
    height: 33px;
}

.viber:hover {
    background-image: url('/assets/images/viberHover.png');
    width: 33px;
    height: 33px;
}

.logos {
    border-top: 1px solid #F1F4F9;
    border-bottom: 1px solid #F1F4F9;
}

.company-since p {
    color: #fefefe;
    opacity: 0.4;
    font-size: 13px;
}

/* end */